body {
  padding-top: 70px;
  background-color: #011A1D;
  color: #F7FFF6; }

.nav li {
  display: inline-block;
  font-size: 18px;
  z-index: 99999999999;
  color: #A6BDBF; }

#head {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  z-index: 9999;
  color: #F7FFF6;
  left: 32%; }

#textAndImage {
  text-align: center; }

#text {
  position: absolute;
  z-index: 99999;
  top: 30%;
  left: 22%;
  color: #F7FFF6;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; }

#name {
  font-size: 80px;
  top: 15%; }

video {
  z-index: -1247;
  max-width: 90%;
  max-height: 15%;
  background-size: cover;
  overflow: hidden;
  align-content: center; }

#desc {
  text-align: center;
  font-size: 24px; }

.title {
  text-align: left; }

p {
  font-size: 18px; }

.navbar {
  background-color: #020202;
  color: #A6BDBF; }

#provider {
  width: 15%;
  height: auto;
  right: 75%; }

a {
  color: #6D1F1A; }

form {
  display: block;
  color: #D7D5CF;
  padding: 5%; }

button, select {
  margin: 1%; }

select, button {
  color: black; }

.headLink {
  padding: 1%;
  background-color: #7e7e7e;
  text-align: center; }

#scary {
  text-align: center; }

#bookImg {
  text-align: center; }

#playlistImg {
  text-align: center; }

.one {
  height: 15em;
  width: 10em; }

.text-muted {
  text-align: right; }

#musicList {
  text-align: center; }

.musicPic {
  width: 275px;
  height: 275px; }

#bookList {
  text-align: center; }

.book-title {
  height: 70px; }

.two {
  height: 138px;
  width: 92px; }

.bookScroll {
  float: right;
  width: 70%;
  height: 120px;
  overflow: scroll; }

/*Movie CSS*/
.box {
  width: 70%;
  height: 160px;
  overflow: scroll;
  float: right; }

.title-box {
  height: 50px; }

.col-md-4 {
  padding: 3%; }

#movie-logo {
  width: 7%; }

.col-sm-12 {
  text-align: center; }

#query {
  width: 20%;
  display: inline; }

#headmusic {
  background-image: url("../images/music.jpg");
  background-repeat: no-repeat; }

/*.col-lg-12{
  text-align:center;
  padding:1%;
}*/
#head {
  font-family: 'Volkhov', serif;
  text-align: center;
  font-size: 36px;
  padding: 3em;
  z-index: 9999;
  color: #F7FFF6;
  left: 32%; }

#headMovies {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  background-image: url("../images/movie-reel.jpg");
  background-repeat: center;
  height: 100% auto;
  overflow: auto;
  width: 100%; }

#headMusic {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  background-image: url("../images/music2.jpg");
  background-repeat: center repeat;
  background-size: auto 200px;
  width: 100%; }

#headBooks {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  background-image: url("../images/books.jpeg");
  background-repeat: no-repeat;
  height: 50% auto;
  width: 50%; 
  }

