body {
  padding-top: 70px;
  background-color: black; }

.nav li {
  display: inline-block;
  font-size: 18px;
  z-index: 99999999999; }

.wrapper {
  background-color: #c0c0c0; }

#head {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  z-index: 9999;
  color: #F7FFF6;
  left: 32%; }

#textAndImage {
  text-align: center; }

#text {
  position: absolute;
  z-index: 99999;
  top: 30%;
  left: 22%;
  color: #F7FFF6; }

#name {
  font-size: 90px;
  top: 15%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em; }

#tagline {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1em;
  word-spacing: 0.3em;
  color: #FFCA3A; }

video {
  z-index: -1247;
  max-width: 90%;
  max-height: 15%;
  background-size: cover;
  overflow: hidden;
  align-content: center; }

#desc {
  text-align: center;
  font-size: 24px; }

.title {
  text-align: left; }

p {
  font-size: 18px; }

.navbar {
  background-color: black;
  /*color: #A6BDBF; */
  border-color: black; }

#provider {
  width: 15%;
  height: auto;
  right: 75%; }

a {
  color: #FFEDBC;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2em; }

a:hover {
  text-decoration: none;
  color: red; }

form {
  display: block;
  color: #D7D5CF;
  padding: 5%; }

button, select {
  margin: 1%; }

select, button {
  color: black; }

.headLink {
  padding: 1%;
  width: auto;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: 2.3em; }

#scary {
  text-align: center; }

#bookImg {
  text-align: center; }

#playlistImg {
  text-align: center; }

.one {
  height: 15em;
  width: 10em; }

.text-muted {
  text-align: center; }

#musicList {
  text-align: center; }

.musicPic {
  width: 275px;
  height: 275px; }

#bookList {
  text-align: center; }

.book-title {
  height: 70px; }

.two {
  height: 138px;
  width: 92px; }

.bookScroll {
  float: right;
  width: 70%;
  height: 120px;
  overflow: scroll; }

/*Movie CSS*/
.box {
  width: 70%;
  height: 160px;
  overflow: scroll;
  float: right; }

.title-box {
  height: 50px; }

.col-md-4 {
  padding: 3%; }

#movie-logo {
  width: 7%; }

.col-sm-12 {
  text-align: center; }

#query {
  width: 20%;
  display: inline; }

/*.col-lg-12{
  text-align:center;
  padding:1%;
}*/
#head {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  font-size: 18px;
  z-index: 9999;
  color: #F7FFF6;
  left: 32%; }

#shineMovie {
  font-size: 72px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5em; }

#shineMusic {
  font-size: 72px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5em; }

#shineBooks {
  font-size: 72px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5em; }

#headMovies {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url("../images/movie_reel.jpg");
  /*background-color: white;*/
  background-repeat: center;
  height: 5em;
  overflow: hidden;
  width: 100%; }

#headMusic {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url("../images/music_keys.jpg");
  background-repeat: center repeat;
  background-size: auto 200px;
  width: 100%;
  height: 5em; }

#headBooks {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url("../images/books.jpg");
  background-repeat: repeat-x;
  height: 5em;
  overflow: auto;
  width: 100%; }
