body {
  padding-top: 70px;
  /*background-color: #ccc;*/
 }

.nav li {
  display: inline-block;
  font-size: 18px; }

#head {
  font-family: 'Volkhov', serif;
  text-align: center;
  font-size: 36px;
  height: 100%;
  width: 100%;
  padding: 3em;
}

#headMovies {
    font-family: 'Volkhov', serif;
    text-align: center;
    font-size: 36px;
    /*background-color: #FFEEDB;*/
    /*background-image: url(stockphoto.jpg);*/
    padding: 3em;
}
#headMusic {
    font-family: 'Volkhov', serif;
    text-align: center;
    font-size: 36px;
    /*background-color: #FFEEDB;*/
    /*background-image: url(stockphoto.jpg);*/
    padding: 3em;
}#headBooks {
    font-family: 'Volkhov', serif;
    text-align: center;
    font-size: 36px;
    /*background-color: #FFEEDB;*/
    /*background-image: url(stockphoto.jpg);*/
    padding: 3em;
}
#desc {
  text-align: center;
  font-size: 24px; }

.title {
  text-align: left;
  margin-left: 1.5em;
 }

p {
  font-size: 18px; }

.headLink {
  margin-left: 1em;
  background-color: #ccc;
  color: black;
  font-size: 20px;
 }
.flat-icon {
    padding:23px 28px;
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    line-height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    margin-right: 15px;
}
#scary {
  text-align: center; }

#bookImg {
  text-align: center; }

#playlistImg {
  text-align: center; }

.one {
  height: 15em;
  width: 10em; }

.text-muted {
  text-align: right; }

#musicList {
  text-align: center; }

  .musicPic {
    width: 275px;
    height: 275px;
  }

#bookList {
  text-align: center; }

.book-title {
  height: 70px; }

.two {
  height: 138px;
  width: 92px; }

.bookScroll {
  float: right;
  width: 70%;
  height: 120px;
  overflow: scroll; }

/*Movie CSS*/
.box {
  width: 70%;
  height: 120px;
  overflow: scroll;
  float: right; }

.title-box {
  height: 50px; }

.col-md-4 {
  padding: 3%; }

#movie-logo {
  width: 7%; }
