body {
  padding-top: 70px;
  // background-color: #2A2B2E;
  // color:#F7FFF6;
	background-color: black;
 }

.nav li {
  display: inline-block;
  font-size: 18px;
  z-index:99999999999;

  // color:#A6BDBF;
  }



#head {
text-align:center;
font-size:36px;
padding:3em;
z-index:9999;
color:#F7FFF6;
left:32%;
}
#textAndImage {
	text-align:center;
}
#text {
	position:absolute;
	z-index:99999;
	top:30%;
	left:22%;
	color:#F7FFF6;
	// font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
#name {
	font-size:90px;
	top:15%;
	font-family: 'Lobster Two', cursive;
	// font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;

	letter-spacing: 0.1em;
}
#tagline {
font-family: 'Poppins', sans-serif;
letter-spacing: 0.1em;
word-spacing: 0.3em;
color: #FFCA3A;
}
video {
z-index:-1247;
max-width:90%;
max-height:15%;
background-size:cover;
overflow:hidden;
align-content:center;
}


#desc {
  text-align: center;
  font-size: 24px; }

.title {
  text-align: left; }

p {
  font-size: 18px; }
.navbar {
	  background-color: black;
	  /*color: #A6BDBF; */
		border-color: black;
	}

#provider {
	width:15%;
	height:auto;
	right:75%;
}
a{
	// color: white;
	color: #FFEDBC;

	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.2em;
}
a:hover {
	text-decoration: none;


}
form{
    color:#D7D5CF;
    padding:5%;
}
button{
  margin:3%;
}

label {
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.3em;
}

select, button{
  color:black;
}
.headLink {
  padding: 1%;
	width: auto;
  text-align:left;
	font-family: 'Poppins', sans-serif;
	color: white;
	margin-left: 2.3em;

 }

#scary {
  text-align: center; }

#bookImg {
  text-align: center; }

#playlistImg {
  text-align: center; }

.one {
  height: 15em;
  width: 10em; }

.text-muted {
  text-align: right; }

#musicList {
  text-align: center; }

.musicPic {
  width: 275px;
	height: 275px;
}

#bookList {
  text-align: center; }

.book-title {
  height: 70px;
	color: white;
  float:left;
  color:silver;
 }
 .bookLeft{
  float:left;
  clear:left;
 }

.two {
  height: 138px;
  width: 92px;

}

.bookScroll {
  float: right;
  width: 70%;
  height: 120px;
	color: white;
  overflow: scroll; }

/*Movie CSS*/
.box {
  width: 70%;
  height: 160px;
	font-size: 18px;
	letter-spacing: 0.05em;
  overflow: scroll;
	font-family: Arial;
	color: white;
  float: right; }

.title-box {
  height: 50px;
	color: white;
	font-family: 'Poppins', sans-serif;

 }

.col-md-2 {
	padding: 3%;
}
.col-md-6{
  padding: 2%;
}

#movie-logo {
  width: 7%; }

.col-sm-12{
  text-align: center;
}
#query{
  width:20%;
  display:inline;
}

#head {
  text-align: center;
  font-size: 36px;
  padding: 3em;
  font-size: 18px;
  z-index: 9999;
  color: #F7FFF6;
  left: 32%; }

	#shineMovie {
	  font-size: 72px;
	  color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		letter-spacing: 0.5em;
	}
  h4{
    color:white;
  }
	#shineMusic {
		font-size: 72px;
		color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		letter-spacing: 0.5em;
	}
	#shineBooks {
		font-size: 72px;
		color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		letter-spacing: 0.5em;
	}

#headMovies {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url('../images/movie3.jpg');
  background-repeat:no-repeat;
  background-size: auto 500px;
  width: 100%;
  height: 7em;
  // height: 8.5em;
}

#headMusic {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url('../images/music_keys.jpeg');
  background-repeat:no-repeat;
  background-size:auto 500px;
  width: 100%;
  height:7em;
  // height:8.5em;
}
#headBooks {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image:url('../images/books.jpeg');
  background-repeat:no-repeat;
  background-size: auto 500px;
  height: 7em;
  // height: 8.5em;
  width: 100%;
}
.wrapper {
	margin-left: 3em;
	margin-right: 3em;
}
.musicWrapper {
	margin-left: 7em;
}
