body {
  padding-top: 70px;
  background-color: #2A2B2E;
  color:#F7FFF6;
 }

.nav li {
  display: inline-block;
  font-size: 18px; }

#head {
  font-family: 'Volkhov', serif;
  text-align: center;
  font-size: 36px;
  background-color: #6D1F1A;
  padding: 3em; }

#desc {
  text-align: center;
  font-size: 24px; }

.title {
  text-align: left; }

p {
  font-size: 18px; }
.navbar{
  background-color: #7e7e7e;
}
a{
  color:#6D1F1A;
}
form{
    color:#D7D5CF;
    padding:5%;
}
button{
  margin:3%;
}
select, button{
  color:black;
}
.headLink {
  padding: 1%;
	width: auto;
  text-align:left;
	font-family: 'Poppins', sans-serif;
	color: white;
	margin-left: 2.3em;

 }

#scary {
  text-align: center; }

#bookImg {
  text-align: center; }

#playlistImg {
  text-align: center; }

.one {
  height: 15em;
  width: 10em; }

.text-muted {
  text-align: right; }

#musicList {
  text-align: center; }

  .musicPic {
    width: 275px;
    height: 275px;
  }

#bookList {
  text-align: center; }

.book-title {
  height: 70px; }

.two {
  height: 138px;
  width: 92px; }

.bookScroll {
  float: right;
  width: 70%;
  height: 120px;
  overflow: scroll; }

/*Movie CSS*/
.box {
  width: 70%;
  height: 120px;
  overflow: scroll;
  float: right; }

.title-box {
  height: 50px; }

.col-md-4 {
  padding: 3%; }

#movie-logo {
  width: 7%; }

.col-sm-12{
  text-align: center;
}
#query{
  width:20%;
  display:inline;
}

#head {
  // font-family: 'Volkhov', serif;
  text-align: center;
  font-size: 36px;
  padding: 3em;
  font-size: 18px;
  z-index: 9999;
  color: #F7FFF6;
  left: 32%; }

	#shineMovie {
	  font-size: 72px;
	  color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		letter-spacing: 0.5em;
	}
	#shineMusic {
		font-size: 72px;
		color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		letter-spacing: 0.5em;
	}
	#shineBooks {
		font-size: 72px;
		color: white;
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		letter-spacing: 0.5em;
	}

#headMovies {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url('../images/movie3.jpg');
  background-repeat:no-repeat;
  background-size: auto 500px;
  width: 100%;
  height: 8.5em;
}

#headMusic {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image: url('../images/music_keys.jpeg');
  background-repeat:no-repeat;
  background-size:auto 500px;
  width: 100%;
  height:8.5em;
}
#headBooks {
  text-align: center;
  font-size: 36px;
  padding: 1em;
  background-image:url('../images/books.jpeg');
  background-repeat:no-repeat;
  background-size: auto 500px;
  height: 8.5em;
  width: 100%;
}
