<<<<<<< HEAD
#welcome {
  background-color: #bcb699;
}
=======
.nav li{
	display: inline-block;
}
.box{
	width:70%;
	height:120px;
	overflow: scroll;
	float:right;
}
.title-box{
	height:50px;
}
.col-md-4{
	padding:3%;	
}
#movie-logo{
	width:7%;
}

>>>>>>> 9ff352b2f7ff32f2e1b3d4a2816f02ad52566a45
