<!doctype html>
<form name="myForm">
    <label for="repeatSelect"> Genre: </label>
    <select ng-change="saveId(info)" name="repeatSelect" id="repeatSelect" ng-model="info.id">
        <option ng-repeat="option in info.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
</form>

<div ng-repeat="book in books">

    <a target=_blank ng-href="{{book.accessInfo.webReaderLink}}"><img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="Sup"></a>
    <h2>{{book.volumeInfo.title}}</h2>
    <h4>{{book.volumeInfo.authors[0]}}</h4>
    <p>{{book.volumeInfo.description}}</p>
</div>
