<!doctype html>
<form name="myForm">
    <label for="repeatSelect"> Genre: </label>
    <select ng-change="saveId(info)" name="repeatSelect" id="repeatSelect" ng-model="info.id">
        <option ng-repeat="option in info.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
</form>

<div ng-repeat="book in books">
    <img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="Sup">
    <h3>{{book.volumeInfo.title}}</h3>
    <p>{{book.volumeInfo.description}}</p>
</div>