<div class="container-fluid" id="head">
<div class="row">
	<div class="col-md-12">
		<div id="textAndImage">
		</div>
	</div>
<!-- beginning main informational div on landing page -->
	<div class="row">
			<div class="col-md-12">
				<video loop muted autoplay class="glimmer">
				<source src="../videos/glimmer.mp4" type="video/mp4"></source></video>
			    <div id="text">
				    <h1 id="name">Entertain.Me</h1>
				    <h2 id="tagline">Staying-in just became more efficient</h2>
					</div>
		  	</div>
		</div>
	</div>
</div>

<!-- end main informational div on landing page -->

		<!-- <h3 class="title">Suggestions for you</h3> -->

	</div> <!-- closes row of container div -->
</div> <!-- closes container -->



	<div class="row">
		<div class="col-lg-12">
			<a href="#/movies"><h2 class="headLink">Movies</h2></a>

		<!-- <h4>Movies to Watch</h4> -->
	<!-- </div> -->
	</div>

	<div class="row" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<div class="col-md-4" uib-slide ng-repeat='movie in movieShort | limitTo: 3' id="scary" index="slide.id">
			<!-- <h3 class='home-info'>{{movie.title}}</h3> -->
			<a target=_blank ng-href="https://www.google.com/#q= + {{movie.title}}"><img class="one" ng-src="{{image + movie.poster_path}}" alt="Poster"></a>
		</div>
	</div>
	<hr></hr>

<!-- MUSIC -->
<div class="row">
	<div class="col-lg-12">
		<a href="#/music"><h2 class="headLink">Music</h2></a>

	<!-- <h4>Playlist to Check Out</h4> -->
</div>
</div>

<div class="row">
	<div class="col-md-4" ng-repeat="music in musicShort | limitTo: 3" id="playlistImg">
		  <a target=_blank ng-href="{{music.external_urls.spotify}}"><img class="musicPic" ng-src="{{music.images[1].url}}"></img></a>
		</div>
	</div>
<hr></hr>
<!-- BOOKS -->
<div class="row">
	<div class="col-lg-12">
		<a href="#/books"><h2 class="headLink">Books</h2></a>
	</div>
</div>

<div class="row">
<div class="col-md-4" ng-repeat='book in bookShort | limitTo: 3' id="bookImg">
			<!-- <h3 class='home-info'>{{book.volumeInfo.title}}</h3> -->
			<a target=_blank ng-href="{{book.accessInfo.webReaderLink}}"><img class="one" ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" alt="Poster"></a>
		</div>
	</div>
<!-- </div> -->
<hr></hr>


<br />
<br />
<br />
<br />
<!-- FOOTER -->
<div class="row">
  <div class="col-md-12">
      <p class="text-muted">C.DuFour K.Golicz R.Walters &copy; 2016	<span class="glyphicon glyphicon-film" aria-hidden="true"></span>
			</p>
	</div>
</div>

</div>
