<form name="myForm">
	<label for="repeatSelect"> Genre: </label>
	<select ng-change="saveId(info)" name="repeatSelect" id="repeatSelect" ng-model="info.id">
	    <option ng-repeat="option in info.availableOptions" value="{{option.id}}">{{option.name}}</option>
	</select>
</form>

<div ng-repeat="movie in movies | orderBy:'title'">
	<a target=_blank ng-href="https://www.google.com/#q= + {{movie.title}}""><img ng-src="{{image + movie.poster_path}}" alt="Poster"></a>
	<h3>{{movie.title}}</h3>
	<p>{{movie.overview}}</p>
</div>
<img src="images/PoweredByTMDB.png" alt="TMDB">

