<div class="container-fluid" id="headMusic">
  <div class="row">
     <div class="col-md-12">
         <h1 id="shineMusic">MUSIC</h1>
     </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-12">
      <!-- <h4>Search Artist Keyword</h4> -->
      <form>
          <label for="form-control">Search Artist Keyword</label>
          <input type="text" ng-model="userInfo.id" id="query" value="" class="form-control" />
          <button type="submit" ng-click="searchAlbums(userInfo)" id="search" value="Search">SEARCH</button>
      </form>
  </div>
      <div id="results"></div>


</div>

<div class="row">
  <div class="col-md-4" ng-repeat="music in musicCall">
      <p class="title-box">{{music.name}}</p>
      <a target=_blank ng-href="{{music.external_urls.spotify}}"><img class="musicPic" ng-src="{{music.images[0].url}}"></img></a>
    </div>
  </div>
</div>



<!-- <script id="results-template" type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}}
</script> -->
