
<div class="container">
    <h1>Search for an Artist</h1>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" />
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
    <div id="results"></div>
</div>


<div ng-repeat="music in musicCall">
  <p>{{music.name}}</p>
  <!-- <p>{{music.uri}}</p> -->
  <img ng-src="{{music.images[0].url}}"></img>
  <!-- <a href="{{music.href}}">Click here</a> -->

  <!-- <iframe ng-src="https://embed.spotify.com/?uri=" + {{songz}}></iframe> -->
<!-- <iframe ng-src="{{getIframeSrc(songz)}}"></iframe> -->
</div>

<iframe src="{{player}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<!-- <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->

<script id="results-template" type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}}
</script>
